.experiences {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.experiences-body {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
}

.wave {
    width: 100%;
    position: relative;
    top: 2px;
}

.wave_bottom {
    transform: scaleY(-1);
    top: -2px;
}

